html,
body{
    max-width: 1920px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrap{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: turquoise;
    
}
.container{
    max-width: 1840px;
    height: 90%;
    position: relative;
    overflow: hidden;
    top: 44px;
    left: 44px;
}
.button-input{
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    line-height: 3%;
    padding: 0 1em;
    position: relative;
    z-index: 900;
    top: -10%;
    left: 71%;
}
.button-input label{
    border: 10px solid;
    border-radius: 60px;
    background-color: #40e0d0;
    display: inline-block; 
    cursor: pointer;
    width: 15px;
    height: 15px;
    padding: 2em 2em;
    left: 1350px;
}
.button-input label:hover{
    background: rgb(15, 15, 12);
}
.button-input label:active{
    background: rgb(15, 15, 12);
}
.slide{
    width: 99%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    border-radius: 60px;
    background-color: turquoise;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s .75s;
}
.slide-one{
    background-image: url(./Memes/1.jpg);
}
.slide-two{
    background-image: url(./Memes/2.jpg);
}
.slide-three{
    background-image: url(./Memes/3.jpg);
}
.slide-four{
    background-image: url(./Memes/4.jpg);
}
.slide h1{
    margin-top: 53%;
    margin-bottom: 0px;
    opacity: 0;
    transform: translateY(100%);
    transition: transform .5s .5s, opacity .5s;
}
[id^='slide']:checked + .slide {
    left: 0;
    top: 0;
    z-index: 100;
    transition: left .65s ease-out;
}
[id^='slide']:checked + .slide h1 {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s .5s;
}
.all input{
    display: none;
}
label{
    margin-left: 15px;
    margin-right: 15px;
}
@media (max-width: 320px) {
    html,
    body{
        max-width: 320px;
}
.container{
    top: 18px;
    left: 1px;
}
.all input{
    display: none;
}
.slide{
    border-radius: 18px;
}
.slide h1{
    margin-top: 236%;
    margin-left: 20px;
}
.button-input label{
    margin-left: 7px;
    margin-right: 7px;
    padding: .3em .3em;
    border: 5px solid;
}
.button-input{
    left: 20%;
    padding-left: 10px;
    width: 227px;
    height: 50px;
    top: -10%;
}
}